---
import Card from "@/components/card.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Libros Gratis para Descargar en PDF 📖 ">
	<section class="mb-10z">
		<Card />
	</section>
</Layout>
