---
import ArrowLeft from "@/icons/ArrowLeft.astro";
---

<div class="flex items-center gap-x-2 py-5">
  <a href="/" class="active:scale-95 transition-all bg-white/20 p-1 rounded-xl">
    <ArrowLeft />
    <span class="sr-only">regresar</span>
  </a>
  <span class="text-lg font-medium"> Regresar </span>
</div>
