---
import { ViewTransitions } from "astro:transitions";
import "@fontsource-variable/onest";
import Navbar from "../components/navbar.astro";
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<!-- Title -->
		<meta
			property="og:title"
			content="Libros Gratis para Descargar en PDF 📖 "
		/>
		<meta
			property="twitter:title"
			content="Libros Gratis para Descargar en PDF 📖 "
		/>
		<title>{title}</title>
		<ViewTransitions />
		<!-- Description -->
		<meta
			name="description"
			content="Descarga libros en PDF completamente gratis. Explora nuestra colección de títulos variados y disfruta de la lectura en cualquier dispositivo. ¡Empieza a leer ahora en Libros y Más!"
		/>
		<meta
			property="og:description"
			content="Descarga libros en PDF completamente gratis. Explora nuestra colección de títulos variados y disfruta de la lectura en cualquier dispositivo. ¡Empieza a leer ahora en Libros y Más!"
		/>
		<meta
			property="twitter:description"
			content="Descarga libros en PDF completamente gratis. Explora nuestra colección de títulos variados y disfruta de la lectura en cualquier dispositivo. ¡Empieza a leer ahora en Libros y Más!"
		/>

		<!-- Metadata images -->

		<meta
			property="og:image"
			content="https://shared-books.vercel.app/og-image.png"
		/>
		<meta
			property="twitter:image"
			content="https://shared-books.vercel.app/og-image.png"
		/>
		<link rel="canonical" href="https://shared-books.vercel.app/" />
	</head>
	<body class="relative">
		<div
			class="absolute inset-0 min-h-screen z-[-2] w-full bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"
		>
		</div>
		<Navbar />
		<main class="mx-auto container px-2 md:px-0">
			<slot />
		</main>
		<style is:global>
			html {
				font-family: "Onest Variable", sans-serif, system-ui;
				color: white;
			}

			.image{
				view-timeline-name: --reveal;
				animation-name: show;
				animation-fill-mode: both;
				animation-timeline: --reveal;
				animation-range: entry 25% cover 50%;
			}

			@keyframes show {
				from{
					opacity: 0; scale: 70%;
				}
				to{
					opacity: 1; scale: 100%;
				}
			}
		</style>
	</body>
</html>
